body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.thumb {
    margin-bottom: 30px;
}

.button {
	cursor: pointer;
}

footer {
    margin: 50px 0;
}